p {
    font-family: Roboto, Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.thumbnail {
    width: 100%;
}

.video-title {
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.thumbnail-row {
    margin-bottom: 10px;
}

.channel-picture {

}

.video-info {
    margin-left: 8px;
}

.profile-picture {
    width: 100%;
    border-radius: 50%;
}

.video-author {
    color: #606060;
    margin-bottom: 5px;
    font-size: 12px;
    margin-top: 0px;
}

.video-stats {
    color: #606060;
    margin-top: 0;
    font-size: 12px;
}