.search-bar {
    display: block;
}

.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(230,230,230); 
    
    z-index: 100;
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger {
    height: 20px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube {
    height: 20px;
}

.middle-section {
    display: flex;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    align-items: center;
}

.search-bar {
    flex: 1;
    height: 36px;
    font-size: 16px;
    border: 1px solid rgb(200,200,200);
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    width: 0;
}

.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
    padding-left: 10px;
}

.search-button {
    height: 40px;
    width: 66px;
    background-color: rgb(240,240,240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200,200,200);
    margin-left: -1px;
    margin-right: 10px;
}

.search-button, .voice-search-button, .create-button, .yt-apps-button, .notifs-button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-icon {
    height: 25px;
}

.search-button .tooltip, 
.voice-search-button .tooltip, 
.create-button .tooltip, 
.yt-apps-button .tooltip , 
.notifs-button .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px; 
    padding-left: 8px; 
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip, 
.voice-search-button:hover .tooltip, 
.create-button:hover .tooltip,
.yt-apps-button:hover .tooltip,
.notifs-button:hover .tooltip {
    opacity: 1;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(240,240,240);
}

.voice-search-icon {
    height: 25px;
}

.right-section {
    display: flex;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    column-gap: 20px;
    width: 180px;
    flex-shrink: 0;
}

.create-button, .yt-apps-button, .notifs-button {
    height: 40px;
    width: 40px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.create-icon {
    height: 24px;
}

.yt-apps-icon {
    height: 24px;
}

.notifs-button {
    position: relative;
}

.notifs-icon {
    height: 24px;
}

.notifs-count {
    position: absolute;
    right: 2px;
    top: 5px;

    font-size: 10px;
    color: white;
    background-color: #cc0000;
    width: 14px;
    height: 14px;
    border-radius: 10px;
    padding-top: 2px;
    padding-left: 1px;
    padding-right: 1px;

    vertical-align: center;
}

.profile-pic {
    height: 36px;
    width: 36px;
    border: none;
    border-radius: 18px;

    cursor: pointer;
}

