p {
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 0;
}
.video-title {
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    line-height: 24px;
    margin-bottom: 5px;
}
.video-stats {
    font-size: 14px;
    color: #606060;
    margin-top: 0px;
    margin-bottom: 16px;
}
.video-author {
    font-size: 14px;
    color: #606060;
    margin-top: 0px;
    margin-bottom: 16px;
}
.video-description {
    font-size: 14px;
    color: #606060;
    width: 300px;
    margin-bottom: 100px;
}

.apple-text {
    margin-bottom: 50px;
    background-color: #e34140;
    padding: 16px;
    color: white;
    font-size: 14px;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
}

.shop-text:hover {
    text-decoration: underline;
    cursor: pointer;
}